@{
    ViewData["Title"] = "Listagem de certificados";
}
<h1 class="display-4">Listagem de certificados</h1>


<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Curso</th>
            <th scope="col">Descrição</th>
            <th scope="col">Link</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Javascript</td>
            <td>deixando página web mais dinâmicas</td>
            <td>alura.com.br/javascript</td>
            <td>
                <div class="btn-group" role="group" arial-label="Basic example">
                    <a role="btn btn-primary">Editar</a>
                    <a role="btn btn-primary">Apagar</a>
                </div>
            </td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>React</td>
            <td>framework front-end</td>
            <td>alura.com.br/react-front-end</td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td> API em c#</td>
            <td colspan="2">criando um API em CRUD</td>
            <td>alura.com.br/api-em-crud</td>
        </tr>
    </tbody>
</table>